---
layout: default
---

<div class="home">

  {% for frontpage in site.data.contentful.spaces.spandau.frontpage %}
    <h1 class="page-heading">{{ frontpage.title }}</h1>
    <div class="frontpage-container">
      <div class="{% if frontpage.image %}frontpage-half{% else %}frontpage-full{% endif %}">{{ frontpage.content | markdownify }}</div> 
      <div class="frontpage-image">
        <img src="{{ frontpage.image }}" alt="" />
      </div>
    </div>
    <div>{{ frontpage.lastUpdated }}</div>
  {% endfor %}

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
