---
layout: default
---

<!-- Header -->
<div id="header">
	<div class="container">

		<!-- Logo -->
		<!--<h1><a href="#" id="logo">{{ page.title }}</a></h1>-->

		{% include nav.html %}

		<!-- Banner -->
			<div id="banner">
				<div class="container">
					<section>
						<header class="major">
							<h2>Adventgemeinde Spandau</h2>
							<span class="byline">Herzlich Willkommen auf unserer Homepage.</span>
						</header>
					</section>
				</div>
			</div>

	</div>
</div>

<!-- Featured -->
<div class="wrapper style2">
	<section class="container">
		<!--<header class="major">
			<h2>Nulla luctus eleifend</h2>
			<span class="byline">Mauris vulputate dolor sit amet nibh</span>
		</header>-->
		<div class="row no-collapse-1">
			<section class="4u">
				<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/gemeinde1.jpg" alt=""></a>
				<p>Sie sehnen sich danach, Ihren Glauben Tag für Tag aktiv zu leben?</p>
			</section>
			<section class="4u">
				<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/gemeinde2.jpg" alt=""></a>
				<p>Sie suchen Gleichgesinnte, mit denen Sie Erfahrungen und Erkenntnisse austauschen können?</p>
			</section>
			<section class="4u">
				<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/gemeinde3.jpg" alt=""></a>
				<p>Sie interessieren sich für Glauben und Leben in der heutigen Zeit? Dann hoffen wir, Ihnen mit diesen Seiten weiterhelfen zu können.</p>
			</section>
		</div>
		<div class="row no-collapse-1">
			<section class="12u">
				<p>Sie finden hier vielfältige Informationen und Anregungen, wie christliches Leben heute Wirklichkeit sein kann - eine Brücke ins Leben!</p>
			</section>
		</div>
	</section>
</div>

{{ content }}